<div class="menu lg:float-left lg:w-1/5 mb-4 ml-2 mr-2">
    <ul class="list-none m-0 p-0 text-center">
        <li>
            <a href="index.html"><i class="fa-solid fa-house"></i> {{menu1}}</a>
        </li>
        <li>
            <a href="nosotros.html"><i class="fa-solid fa-kitchen-set"></i> {{menu2}}</a>
        </li>
        <li>
            <a href="participantes.html"><i class="fa-regular fa-address-card"></i> {{menu3}}</a>
        </li>
        <li>
            <a href="figmaDesign.html"><i class="fa-solid fa-trophy"></i> {{menu4}}</a>
        </li>
        <li>
            <a href="contacto.html"><i class="fa-regular fa-envelope"></i> {{menu5}}</a>
        </li>
    </ul>
</div>

